*{
    outline:  1px solid rgba(255, 0, 0, 0);
    margin: 0%;
    padding: 0%;
}

body{
  background: linear-gradient(to bottom, #ffc620, #ffc620, #FCFCFC);
  height: 100vh;
}

header{
    display: flex;
    background-color: #002776;
    justify-content: center;
}

#logo-senna-header{
    display: flex;
    justify-content: baseline;
    width: fit-content;
    height: fit-content;
}

#logo-senna-header img{
    width: 200px;
}

#table-header{
    list-style: none; /* remove as bolinhas */
    display: flex;    /* faz os itens ficarem na horizontal */
    gap: 30px;
    margin-left: 38%;
    margin-top: 1%;
}



#table-header li a{
    text-decoration: none; /* remove sublinhado */
    color: white;
    font-weight: bold;
    font-size: 2rem;
    font-family: Poppins_Font, sans-serif;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease; /* 👈 coloque aqui */
}

#table-header li a:hover{
    color: #ffc620; /* amarelo senna */
    background-color: #0baf5a;
}

main{
    background-color: #FFC620;
    font-weight: bold;
    /*Aumentar para baixo*/
}

#capacete-senna{
    display: flex;
    justify-content: baseline;
    position: absolute;  /* fixa o logo dentro do header */
    top: -10px;
    left: 200px;
}

#capacete-senna img{
    width: 250px;
    /* estado inicial */
    opacity: 0;
    transform: translateY(30px); /* começa mais embaixo */
    /* animação */
    animation: aparecerDeBaixoCapacete 1.0s ease-out forwards;
}

@keyframes aparecerDeBaixoCapacete {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#revendedora-text-main{
  opacity: 0;
  transform: translateY(30px);
  animation: aparecerdeBaixoTextoHeader 1.0s ease-out forwards;
  animation-delay: 0.5s;
}

#senna-text-main{
  opacity: 0;
  transform: translateY(30px);
  animation: aparecerdeBaixoTextoHeader 1.0s ease-out forwards;
  animation-delay: 0.7s;
}

@keyframes aparecerdeBaixoTextoHeader {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#columm-green-header{
    display: flex;
    background-color: #0baf5a; /* verde */
    box-shadow: 0 -4px 0 #ffffff, 0 -6px 0 #002776, 0 -10.5px 0 #ffffff, 0 5px 0 #ffffff, 0 7px 0 #002776, 0 10.5px 0 #ffffff;
    width: 0; /* começa sem largura */
    animation: expandirFaixa 1.5s ease-out forwards;
    margin-top: 1%;
}

#columm-blue-header{
    display: flex;
    background-color: #002776;
    box-shadow: 0 -4px 0 #ffffff, 0 -6px 0 #0baf5a, 0 -10.5px 0 #ffffff, 0 5px 0 #ffffff, 0 7px 0 #0baf5a, 0 10.5px 0 #ffffff;
    width: 0;
    animation: expandirFaixa 1.5s ease-out forwards;
    animation-delay: 0.5s; /* começa um pouco depois */
    margin-top: 3%;
}

/* Animação padrão */
@keyframes expandirFaixa {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/*Finalmente o CSS da sessão dos carros para alugar e vender*/

/* Estado inicial — invisível e abaixo */
.scroll-fade {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Quando visível na tela */
.scroll-fade.visible {
  opacity: 1;
  transform: translateY(0);
}

.options-combo-text-container{
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 40px;
  font-weight: bold;
  padding: 5px;
}

.options-combo-text-container button{
  background-color: #E8E8E8;
  border-radius: 10px;
  width: 20%;
  font-size: 20px;
  cursor: pointer;
}

.options-combo-text-container button:hover{
  filter: drop-shadow(0px 0px 10px #0baf5a);
  color: rgb(7, 4, 238);
  background-color: #FFC620;
  text-transform: uppercase;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.content-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;  
}

.car-card{
  cursor: pointer;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
  background-color: #FCFCFC;
  width: 300px;
}

.car-card:hover{
  filter: drop-shadow(10px 5px 5px black);
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.car-card:not(:hover){
  transition: transform 0.3s ease;
}