@font-face {
    font-family: 'Poppins_Font';
    src: url(../../../assets/fonts/Poppins-Full-Version/Desktop/Poppins/Poppins-Black.tff) format(tff);
    font-weight: normal;
    font-style: normal;
}